<%- include("includes/head.ejs") %> <%- include("includes/nav.ejs") %>
<div class="container">
	<div class="blog-headline">
		<h1><%= h1 %></h1>
	</div>
</div>
<hr />
<div class="container">
	<div class="blog-content">
		<p><%= content %></p>
	</div>
</div>
> <%- include("includes/end.ejs") %>
